/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Google Font 2 */
@import url('https://fonts.cdnfonts.com/css/miama');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    
    font-family: "Inter", sans-serif;
    background: linear-gradient(180deg,rgb(59, 59, 59), rgba(0, 0, 0, 1));
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

body .main-container{
    max-width: 1250px;
}

header{
    margin: 57px 130px 35px 130px;
}

/* nav styles */
nav{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    /* border: 2px solid rgb(255, 234, 0); */
    display: flex;
    list-style: none;
    gap: 50px;
    border: 1px solid rgb(84, 84, 83);
    border-radius: 48px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 0px;
}
li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: white;
}
nav h3{
    font-size: 36px;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.home-style{
    background-color: rgb(230, 83, 60);
    padding: 8px 20px;
    border-radius: 48px;
}
.home-style a{
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.hum-burger{
    display: none;
}

/* banner section styles */

.banner-container{
    display: flex;
    /* gap: 167px; */
    justify-content: space-between;
    margin: 0 auto;
}

.text-contant{
    width: 520px;
    height: 439px;
    margin-top: 97px;
    /* border: 2px solid forestgreen; */
}
.banner-img-contant{
    width: 349px;
    height: 580px;
    margin-top: 32px;
}

.banner-title{
    font-size: 78px;
    font-weight: 900;
    color: white;
    padding-bottom: 24px;
}

.fnt-gread{
    font-family: 'Miama', sans-serif;
    font-size: 160px;
    font-weight: 100;
    line-height: 20%;
    
}

.banner-description{
    font-size: 16px;
    font-weight: 400;
    color: #747272;
    padding-bottom: 24px;
}
.btn-primary{
    padding: 16px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    color: white;
    border-radius: 26px;
    border: 1px solid wheat;
}
.btn-normal{
    padding: 16px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(43, 42, 42);
    color: white;
    border-radius: 26px;
    border: 1px solid wheat;
    margin-left: 14px;
}
/* bottom btn */
.bottom-btn{
    padding: 15px 23px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    margin-left: -100px;
    margin-top: -165px;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(48, 48, 48, 0.54);
}
.number-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
#boll{
    font-size: 40px;
    background-color: rgb(230, 83, 60);
    color: rgb(230, 83, 60);
    border-radius: 100%;

    /* width: 35px;
    height: 35px;
    background-color: rgb(230, 83, 60);
    border-radius: 50px; */
}
#number{
    font-size: 25px;
    font-weight: 900;
    color: white;
}
#video{
    font-size: 16px;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}
/* top-btn */
.top-btn{
   padding: 12px 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   border-radius: 12px;
   margin-left: 240px;
   margin-top: -450px;
   position: absolute;
   border: 1px solid rgba(255, 255, 255, 0.1);
   background: rgba(48, 48, 48, 0.54);
   backdrop-filter: blur(20px);
}

#free-number{
    font-size: 40px;
    font-weight: 900;
    color: white;
}
#free-video{
    font-size: 13px;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}

/* Main section styles */

/* Change Your Habits section styles */
.habits-section{
    margin: 88px 130px 88px 130px;
}
.habite-title{
    text-align: center;
    margin-top: 50px;
    padding: 0px 220px;
}
.habite-title h3{
    color: white;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
}
.habite-title p{
    color: #747272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}

/* Habite card */
.habits-section-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.habit-card{
    width: 100%;
    height: 274px;
    text-align: center;
}
.habit-card img{
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.habit-card h3{
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 6px;
}

.habit-card p{
    color: #747272;
    font-size: 14px;
    font-weight: 400;
}

/* Run Section styles */
.run-section{
   height: 350px;
   display: flex;
   margin: 50px 130px 35px 130px;
   justify-content: space-between;
   align-items: center;
   padding: 30px;
   border-radius: 18px;
   background-color: rgb(55, 55, 55);
   
}
.run-text-containt{
   width: 443px;
   height: 290px;
   border-radius: 18px;
}
.run-img-containt{
     width: 366px;
     height: 312px;
     border-radius: 18px;
}

.run-img-containt img {
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 69% 31%;
    border-radius: 18px;
    zoom: 79%;
}

.run-text-containt h3{
    font-size: 48px;
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
}
.run-text-containt p{
    font-size: 14px;
    font-weight: 400;
    color: #989393;
    margin-bottom: 30px;
}
.run-btn{
    padding: 16px 60px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    color: white;
    border-radius: 26px;
    border: none;
}

/* Meet section styles */
.meet-section{
    margin: 50px 130px 35px 130px;
}
.meet-title{
    font-size: 36px;
    font-weight: 800;
    color: white;
    margin-top: 88px;
    margin-bottom: 20px;
    text-align: center;
}
.meet-descripion{
    font-size: 14px;
    font-weight: 400;
    color: #989393;
    text-align: center;
}
.meet-triner-card h4{
    font-size: 30px;
    color: white;
}
.meet-triner-card p{
    font-size: 16px;
    color: #abaaaa;
}
.meet-triner-card{
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #747272;
    border-radius: 18px;
    padding: 20px;
}
.triner-card{
    position: relative;
}
.triner-card img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.tainer-name{
    position: absolute;
    bottom: 40px;
    left: -70px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    transform: translate(50% , 50%);
}
/* BMI section styles */

.title{
    margin-left: 300px;
    width: 600px;
    margin-top: 88px;
}
.calculator-title{
    font-size: 48px;
    font-weight: 900;
    color: white;
    padding-bottom: 14px;
    
}
.calculator-description{
    font-size: 14px;
    font-weight: 400;
    color: #747272;
    padding-bottom: 50px;
}

.calculator-table{
     display: flex;
     gap: 208px;
     background-color: rgb(35, 35, 35);
     padding: 40px 130px 10px 130px;
}

table{
    border-collapse: collapse;
    margin-top: 52px;
    width: 350px;
    height: 216px;
}
td, th{
    border: 2px solid rgb(105, 105, 105);
    padding: 10px 15px;
    color: #989393;
    text-align: left;
}
.bmi-table h4{
    font-size: 28px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}

.bmi-input{
  /* border: 2px solid green; */
    width: 577px;
    height: 386px;
}
.bmi-input h4{
    font-size: 28px;
    font-weight: 500;
    color: white;
    margin-bottom: 14px;
}
.bmi-input p{
    font-size: 14px;
    font-weight: 400;
    color: rgb(88, 87, 87);
    margin-bottom: 34px;
}
/* ===== */
.input-contant{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin-bottom: 15px;
}


/* ===== */
input{
    width: 100%;
    padding: 15px 40px 15px 10px;
    border-radius: 8px;
    background-color:  #363535;
    border: none;
}
 
.sex-option{
   
    width: 100%;
    padding: 15px 5px;
    border-radius: 8px;
    color: #787777;
    background-color: #363535;
    border: none;
}
.select-option{
    width: 100%;
    padding: 15px 5px;
    border-radius: 8px;
    margin-bottom: 30px;
    color: #787777;
    background-color: #363535;
    border: none;
}
.Calculat-btn{
    padding: 15px 70px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    color: white;
    border-radius: 26px;
    border: none;
}

/* Footer section styles */
footer{
    margin-top: 88px;
    padding: 58px 130px 50px 130px;
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-section{
    padding-bottom: 58px;
    display: flex;
    /* gap: 90px; */
    justify-content: space-between;
}
.footer-title-container{
    width: 443px;
    height: 200px;
}
.footer-title{
    font-size: 48px;
    font-weight: 800;
    color: rgb(230, 83, 60);
    padding-bottom: 40px;
}
.footer-desciption{
    font-size: 16px;
    font-weight: 400;
    color: #989393;
}
.get-started-servics{
    width: 181px;
    height: 249px;
    /* margin-bottom: 30px; */
}
.get-started-servics h3{
    font-size: 32px;
    font-weight: 600;
    color: white;
    padding-bottom: 39px;
}
.get-started-servics ul li{
    list-style: none;
    padding-top: 20px;
}
.get-started-servics ul li a{
    font-size: 18px;
    font-weight: 500;
    color: #989393;
}
.footer-foot{
    text-align: center;
    color: #989393;
    font-size: 20px;
    font-weight: 500;
    padding-top: 36px;
}


/* Responcip */
@media screen and (max-width: 576px) {

    header,
    .habits-section,
    .run-section,
    .meet-section
    {
       margin: 30px 20px;
    }
    nav{
        flex-direction: row;
    }
    nav ul{
        display: none;
    }
    .hum-burger{
        display: block;
        color: white;
    }
    .banner-container{
        flex-direction: column;
        gap: 40px;
    }
    .text-contant{
        margin-top: 51px;
        width: auto;
        height: auto;
    }
    .banner-title{
        font-size: 50px;
    }
    .fnt-gread{
        font-size: 100px;
    }
    .btn-primary{
        padding: 15px 20px;
        font-size: 16px;
    }
    .btn-normal{
        padding: 15px 20px;
        font-size: 16px;
        margin-left: 5px;
    }
    
    .banner-img-contant {
        width: auto;
    }
    .top-btn{
        padding: 10px 15px;
        margin-left: 192px;
        margin-top: -550px;
    }
    .bottom-btn{
        margin-left: 5px;
        margin-top: -340px ;
    }
    #boll{
        background-color: white;
    }

    /* Habite */
    .habite-title{
        padding: 0;
    }
    .habite-title h3 {
        font-size: 30px;
    }
    .habit-card p{
        margin-bottom: 30px;
    }
    .habit-card{
        margin-top: 30px;
        width: 247px;
    }
    .habit-card h3{
        padding-top: 20px;
    }
    .habits-section-card{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .habit-card img{
        margin-bottom: 0;
    }
    /* run */
    .run-section{
        flex-direction: column;
        margin-top: 58px;
        height: auto;
    }
    .run-img-containt{
        width: auto;
        height: auto;
   }
    .run-img-containt img{
        height: 100%;
        object-fit: none;
        object-position: 69% 31%;
        border-radius: 18px;
        zoom: 35%;
        margin-top: 50px;
    }
    .run-text-containt h3{
        font-size: 36px;
    }
    .run-text-containt{
        padding: 0;
        width: auto;
        height: auto;
    }
    .run-btn {
        width: 100%;
    }
    /* Bmi */
    .calculator-table{
       flex-direction: column;
       width: 95%;
       padding: 30px 20px;
       gap: 30px;
    }
    .title{
        width: auto;
        margin: 30px 20px;
    }
    .calculator-title{
        font-size: 40px;
        margin-top: 30px;
    }
    table {
        width: 100%;
    }
    .bmi-input {
        width: 100%;
        height: 100%;
    }
      
    .sex-option{
        padding: 15px 30% 15px 10px;
        color: #787777;
    }
    .select-option{
        width: 100%;
    }
    /* meet */
    .meet-triner-card{
        grid-template-columns: repeat(1, 1fr);
    }
    /* Footer */
    footer{
        padding: 30px 20px;
    }
    .footer-section{
        flex-direction: column;
        gap: 50px;
    }
    .footer-title-container{
       width: 100%;
       padding-top: 0px;
       height: auto;
    }
    .get-started-servics h3{
        padding-bottom: 20px;
    }

}
 
